<footer class="footer">
    <div>
        <p>Alrigths Reserved 2024</p>
    </div>
</footer>

<style>
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: aliceblue;
        color: black;
        text-align: center;
        padding-top: 1em;
    }
</style>