---
import Layout from "../layouts/layout.astro";
---

<Layout title={"About"}>
    <h1>About</h1>
    <section class="section-about">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure ad, mollitia repudiandae error veniam quae unde accusamus, quis ipsa saepe pariatur hic beatae cumque consequatur vero distinctio totam fugit quisquam!
            Blanditiis quaerat, consectetur, optio repudiandae ut magnam autem reprehenderit, amet asperiores molestias laudantium eveniet quod quos nihil animi eum exercitationem repellendus consequuntur voluptates laborum totam suscipit nemo accusantium. Illo, itaque?
            Enim soluta, ad unde consectetur illum voluptate assumenda adipisci rerum quod iusto dolore modi quos animi tempore, recusandae corrupti amet, ratione doloremque. Nulla sed accusantium minus ex atque! Consequuntur, voluptate.
            Non quia error beatae iure! Pariatur aliquam obcaecati explicabo rem labore cum perferendis. Eaque quia sunt dolorem, voluptatum pariatur adipisci dolorum quaerat tenetur consequatur sed provident! Maxime ipsam at debitis.
            Saepe odio excepturi consectetur possimus, sapiente commodi maxime nihil, nisi nostrum eveniet nam voluptas corporis eligendi unde nobis? Sed facilis numquam, voluptas ullam laborum aspernatur fuga nihil possimus doloribus architecto?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, voluptas molestiae assumenda itaque aut a quasi enim est sit. Doloremque omnis natus saepe vitae, quam cum placeat autem! Laborum, alias.
            Est assumenda quisquam perspiciatis libero, praesentium alias eligendi asperiores excepturi quasi pariatur ullam culpa incidunt optio ea fugiat tempore beatae molestiae possimus. Magni qui dolore soluta, ex dolor exercitationem accusamus.
            </p>
            <img class="croc" src="https://pbs.twimg.com/media/E4FuSNxVkAET-JR.jpg" alt="Happy Croc">
    </section>
</Layout>

<style>
    h1{
		margin-top: 2em;
		text-align: center;
	}
	.section-about{
		display: flex;
		flex-direction: column;
		justify-content:center ;
		width: 80%;
		margin: 0 auto;
	}
	.croc{
		max-width: 100%;
		width: auto;
		margin: 0 auto;
	}
</style>